name: CI

on:
  push:
    branches: [master]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      APP_ID: ${{ secrets.APP_ID }}
      API_KEY: ${{ secrets.API_KEY }}
      PROTO_APP_ID: ${{ secrets.PROTO_APP_ID }}
      PROTO_API_KEY: ${{ secrets.PROTO_API_KEY }}
    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js LTS
        uses: actions/setup-node@v6.2.0
        with:
          node-version: lts/*
      - run: npm install
      - run: npm test
