name: CI

on:
  push:
    branches: [master]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
      matrix:
        node-version: [18, 20, 22]
    env:
      APP_ID: ${{ secrets.APP_ID }}
      API_KEY: ${{ secrets.API_KEY }}
      PROTO_APP_ID: ${{ secrets.PROTO_APP_ID }}
      PROTO_API_KEY: ${{ secrets.PROTO_API_KEY }}
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install
      - run: npm test
